[submodule "vim-init"]
	path = vim-init
	url = https://github.com/wangwenqiangGitHub/vim-init.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "z.lua"]
	path = z.lua
	url = git@github.com:skywind3000/z.lua.git
